### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

my_kp
my_kp.*bak

secrets.tfvars
*.tfvars

.terraform.lock.hclterraform-v2/
